* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #1c1c1c;
    color: #fff
}

.logo-mast {
    height: 82px;
    display: inline-block;
}

#header h4 {
    padding: 40px 0 15px 0;
    font-size: 22px;
}

#header p {
    font-size: 18px;
    width: 450px;
    line-height: 28px;
}

#header p img {
    width: 80px;
    filter: brightness(1.5);
    vertical-align: -12px;
}

.header-content-container {
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

#header {
    padding-top: 35px;
    height: 300px;
    width: 100%;
    color: #fff;
    text-shadow: 0 0 15px #000;
}

.uwu {
    font-family: monospace;
    letter-spacing: -1px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-image: url("/assets/img/u_r_wet2-comp.jpg");
    background-size: cover;
    background-position: 0 0;
    z-index: -1;
    max-width: 1440px;
    margin: auto;
}

.bg:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: linear-gradient(100deg, rgba(0,0,0,.9), rgba(0,0,0,.5),rgba(0,0,0,0));
}
.bgcolorhack {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 300px;
    z-index: -2;
    background: #000 linear-gradient(#000, #333);

}

@media (min-width: 1440px) {
    .bg {
        left: calc(50% - 720px);
    }
}

@media (min-width: 1040px) {
    .bg {
        background-position: 0 -100px;
    }
}

@media (min-width: 800px) {
    .bg {
        background-position: 0 -100px;
    }
}

@media (max-width: 800px) {
    .bg {
        background-position: 0 0;
    }
}
@media (min-width: 1100px) {
    .bg {
        background-position: 0 -150px;
    }
}
@media (min-width: 1200px) {
    .bg {
        background-position: 0 -200px;
    }
}
@media (min-width: 1300px) {
    .bg {
        background-position: 0 -250px;
    }
}

#list-container {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto 0 auto;
    padding: 50px;
    border-top: 1px solid #505050;
}

#list-container > div {
    flex-direction: row;
}

.sidebar {
    width: 280px;
    height: 250px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}

.list-module {
    height: 500px;
    width: calc(100% - 280px);
    padding-left: 50px;
}

.sidebar {

}

.sidebar div {
    color: #c2c2c2;
    padding: 10px 0 9px 30px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.sidebar div:first-child {
    margin-top: 0;
}

.sidebar .active {
    color: #eeeeee;
    border: 1px solid #00f8f3;
    background: #000 linear-gradient(180deg, #090d1c, #191d32);
}

.sidebar div:hover {
    color: #eeeeee;
    border: 1px solid #00f8f3;
    background: #000 linear-gradient(180deg, #090d1c, #191d32);
}

.sidebar div span {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: -7px;
    margin-right: 15px;
    background-repeat: no-repeat;

}

.list-search {
    border: 1px solid #3d3d3d;
    width: calc(100% - 200px);
    height: 46px;
    border-radius: 5px;
    color: #fff;
    padding-left: 60px;
    font-size: 16px;
    background-color: #141414;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='enable-background:new 0 0 32 32' viewBox='0 0 32 32'%3E%3Cpath style='fill:%23fff' d='M19.4 20.4A8.44 8.44 0 016 13.5a8.5 8.5 0 1115.4 4.9L27 24c.5.5.5 1.4 0 2-.5.5-1.4.5-2 0l-5.6-5.6zm-4.9-.4c3.6 0 6.5-2.9 6.5-6.5S18.1 7 14.5 7 8 9.9 8 13.5s2.9 6.5 6.5 6.5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 16px 10px;
}

#ttsearch {
    position: absolute;
    right: 220px;
    color: #b4b4b4;
    margin-top: 13px;
    padding: 3px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    font-size: 11px;
    opacity: 0;
    transition: 200ms;
    pointer-events: none;
}

input:hover {
    border: 1px solid #379593;
}

input:focus {
    outline: none;
    border: 1px solid #00f8f3;
}

.controls {
    display: flex;
    position: relative;
}

.control-add {
    padding: 13px 19px 11px 19px;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #c2c2c2;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
}
.control-add:hover {
    background-color: #242424;
    border: 1px solid #008e8b;
    color: #dedede
}

.control-add span {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -5px;
    margin-right: 12px;
    background-repeat: no-repeat;
}

.server-list div {
    height: 85px;
    width: 100%;
    border-bottom: 1px solid #505050;
    overflow: hidden;
}

.server-list div:first-child {
    margin-top: 30px;
    border-top: none;
}

.server-list div span {
    display: inline-block;
}

.server-list div span:first-child {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 17px;
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    border-radius: 3px;
}

.server-list div span:nth-child(2) {
    font-weight: 600;
    vertical-align: top;
    padding: 15px;
    font-size: 18px;
}
.server-list div span:nth-child(3) {
    vertical-align: top;
    background: #000 linear-gradient(#000, #5a5a5a);
    color: #fff;
    border-radius: 200px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 3px 10px;
    margin-top: 16px;
}

.server-list div span:nth-child(3) span {

}